/// color||Color|0
$--button-default-font-color: #606266 !default;
/// color||Color|0
$--button-default-background-color: #ffffff !default;
/// color||Color|0
$--button-default-border-color: #dcdfe6 !default;
