/// color||Color|0
$--button-default-font-color: #606266 !default;
/// color||Color|0
$--button-default-background-color: #ffffff !default;
/// color||Color|0
$--button-default-border-color: #dcdfe6 !default;
$--decent-green: #38ada9;
$--primary-color: #409eff;
$--success-color: #67c23a;
$--info-color: #909399;
$--warning-color: #e6a23c;
$--danger-color: #f56c6c;
$--decent-black: #606266;
